* {
margin: 0;
padding: 0;
box-sizing: border-box;
}
html,
body {
height: 100%;
width: 100%;
}

.form-main-container {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
    background-color: #121212;
    color: #ffffff;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    gap: 25px;
  }

  .form-container {
    background-color: #1e1e1e;
    padding: 20px 30px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    width: 300px;
  }

  .form-container h1 {
    margin-bottom: 20px;
    font-size: 1.5rem;
    text-align: center;
  }

  .form-container label {
    display: block;
    margin-bottom: 8px;
    font-weight: bold;
  }

  .form-container input {
    width: 95%;
    padding: 10px;
    margin-bottom: 20px;
    border: none;
    border-radius: 4px;
    background-color: #2b2b2b;
    color: #ffffff;
    font-size: 1rem;
  }

  .form-container input:focus {
    outline: 2px solid #3e8e41;
  }

  .form-container button {
    width: 100%;
    padding: 10px;
    border: none;
    border-radius: 4px;
    background-color: #3e8e41;
    color: #ffffff;
    font-size: 1rem;
    cursor: pointer;
    transition: background-color 0.3s ease;
  }

  .form-container button:hover {
    background-color: #2b7a33;
  }

  table {
    width: 300px;
    border-collapse: collapse;
    margin-top: 20px;
  }